<div class="container">
  <div *ngIf="pet" class="row">
    <div class="left-row">
      <h1>{{pet.name}}</h1>
      <h2>{{pet.breed}}</h2>
      <img [src]="pet.image_url" alt="vet image" class="pet-image"/>
      <button (click)="goBack()" mat-button>Back</button>
    </div>
    <div class="right-row">
      <h1>Historial Information</h1>
      <div class="body">
        <p>Vaccines: </p>
        <div *ngFor="let vaccine of vaccines">
          <p>{{vaccine.name}}</p>
        </div>
        <p>Surgeries: </p>
        <div *ngFor="let surgery of surgeries">
          <p>{{surgery.description}}</p>
        </div>
        <p>Diseases: </p>
        <div *ngFor="let disease of diseases">
          <p>{{disease.name}}</p>

        </div>
      </div>

      <button (click)="addHistory('vaccines')" mat-button style="color:white;">
        Add Vaccine
      </button>
      <button (click)="addHistory('surgeries')" mat-button style="color:white;">
        Add Surgery
      </button>
      <button  (click)="addHistory('diseases')" mat-button style="color:white;">
        Add Disease
      </button>
    </div>

  </div>

</div>
