<div class="container">
  <div *ngIf="profile" class="row">
    <div class="left-row">
      <h1>My Profile</h1>
      <img src="https://www.portalveterinaria.com/upload/20210308083512mujerveterinaria.jpg" alt="vet image" class="vet-image"/>
      <button (click)="goBack()" mat-button>Log Out</button>
    </div>
    <div class="right-row">
      <h1>{{profile.name}}</h1>
      <div class="body">
        <h3 *ngIf="isOwner">Pet Owner</h3>
        <div class="cards">
          <div class="card">
            <mat-icon>pets</mat-icon>
            <h2>Pets</h2>

            <button mat-icon-button routerLink="/pets">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
          <div class="card">
            <mat-icon>payment</mat-icon>
            <h2>Subscriptions</h2>
            <button mat-icon-button routerLink="/my-subscription">
              <mat-icon>arrow_forward_ios</mat-icon>

            </button>
          </div>
          <div class="card">
            <mat-icon>settings</mat-icon>
            <h2>Settings</h2>
            <button mat-icon-button routerLink="/update-profile">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>
